:root {
--basic-black: #000000;
--basic-grey-blue: #283136;
--basic-white: #FFFFFF;
--basic-grey: #666666;
--basic-del: #444444;
--basic-pale-grey: #EEEEEE;
--basic-dark-grey: #888888;
--basic-light-grey: #D7DCDE;
--basic-low-opacity: rgba(0, 0, 0, 0.3);
--basic-red-opacity: rgba(255, 255, 255, 0.3);
--basic-black-opacity: rgba(0, 0, 0, 0.6);
--basic-white-opacity: rgba(0, 0, 0, 0.0001);

--special-1: #FB565A;
--special-2: #E74246;
--special-3: #00CA74;
--special-4: #EFC849;
--special-5: #D7373B;
--special-6: #00BC6C;
--special-7: #00AA62;
--special-8: #EAB534;
--special-9: #E5A722;
--special-10: #A6A6A6;
--special-11: #B4B9BB;
--special-12: #DFDFDF;
--special-13: #D5D5D5;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-navigation {
  color: var(--basic-black);
  background-color: var(--basic-pale-grey);
}

.main-wrapper,
.basket {
  align-items: center;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  list-style: none;
}

.main-header-logo {
  background-color: var(--basic-pale-grey);
}

.main-navigation a,
.basket a {
  color: var(--basic-black);
}

.main-wrapper a:hover,
.basket a:hover,
.main-wrapper a:focus,
.basket a:focus {
  color: var(--special-1);
}

.main-wrapper a:active,
.basket a:active {
  color: var(--basic-low-opacity);
}

.heading {
  background-color: var(--basic-pale-grey);
}

.features-list {
  background-color: var(--basic-pale-grey);
  list-style: none;
}

.features-subtitle {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.features-text,
.services-text,
.about-text {
  color: var(--basic-grey-blue);
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  align-items: center;
  color: var(--basic-white);
  background-color: var(--special-1);
  border-radius: 3px;
  border-style: none;
}

.button:hover,
.button:focus {
  background-color: var(--special-2);
}

.button:active {
  color: var(--basic-red-opacity);
  background-color: var(--special-5);
}

.button-green {
  color: var(--basic-white);
  background-color: var(--special-3);
}

.button-green:hover,
.button-green:focus {
  background-color: var(--special-6);
}

.button-green:active {
  background-color: var(--special-7);
  color: var(--basic-red-opacity);
}

.button-yellow {
  color: var(--basic-white);
  background-color: var(--special-4);
}

.button-yellow:hover,
.button-yellow:focus {
  background-color: var(--special-8);
}

.button-yellow:active {
  background-color: var(--special-9);
  color:var(--basic-red-opacity);
}

.services-subject {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.about {
  color: var(--basic-black);
}

.about-headline {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.about-caption {
  font-weight: 700;
  color: var(--basic-grey-blue);
}

.about-item {
  color: var(--basic-grey-blue);
}

.about-slogan {
  font-weight: 700;
  align-items: center;
  text-align: center;
}

.about-term {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
}

.about-interest {
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
}

.about-definition {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-grey-blue);
}

.companies-item {
  list-style: none;
  opacity: 0.2;
}

.companies-item:hover {
  opacity: 1;
}

.companies-item:active {
  opacity: 0.1;
}

.contacts-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  align-items: center;
}

.contacts-address,
.contacts-phone {
  color: var(--basic-grey);
}

.modal-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
}

.modal-label {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.modal-field {
  color: var(--basic-del);
  font-size: 16px;
  line-height: 18px;
  border: 2px solid var(--basic-light-grey);
  border-radius: 3px;
}

.modal-field:hover {
  border: 2px solid var(--special-11);
}

.modal-field:focus {
  border: 2px solid var(--basic-black);
}

.footer-slogan {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}

.footer-discount {
  font-size: 16px;
  line-height: 22px;
  color:var(--basic-del);
}

.catalog-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  align-items: center;
}

.catalog-subject,
.sorting-title,
.filter-grid-legend,
.filter-variants-legend {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  align-items: center;
  text-transform: uppercase;
}

.filter-adaptiv,
.filter-fix,
.filter-gum,
.variants-slayder,
.variants-advantage,
.variants-news,
.variants-gallery,
.variants-basket {
  font-size: 16px;
  line-height: 19px;
  color: var(--basic-grey-blue);
}

.filter-grid-list,
.filter-variants-list,
.sorting-list,
.pagination,
.footer-social-list,
.catalog-list {
  list-style: none;
}

.button-filter {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  background-color: var(--basic-pale-grey);
}

.button-filter:hover {
  background-color: var(--special-12);
}

.button-filter:active {
  background-color: var(--special-13);
}

.sorting-item a {
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-transform: uppercase;
  color: var(--basic-low-opacity);
}

.sorting-item a:hover {
  color: var(--basic-black-opacity);
}

.sorting-item a:active {
  color: var(--basic-black);
}

.sorting-active {
 color: var(--basic-black);
}

.catalog-subtitle a {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.catalog-subtitle a:hover {
  color: var(--special-1);
}

.catalog-subtitle a:active {
  color: var(--basic-low-opacity);
}

.catalog-description {
  font-size: 16px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  color: var(--basic-grey);
}

.catalog-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  align-items: center;
  color: var(--basic-white);
  background-color: var(--special-1);
  border-radius: 3px;
  border-style: none;
}

.catalog-button:hover,
.catalog-button:focus {
  background-color: var(--special-2);
}

.catalog-button:active {
  background-color: var(--special-5);
}

.pagination-item {
  background-color: var(--basic-pale-grey);
  border-radius: 3px;
}

.pagination-item a {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
}

.pagination-item a:hover {
  background-color: var(--special-12);
}

.pagination-item a:active {
  background-color: var(--special-13);
  color: var(--basic-low-opacity);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.pagination-active a {
  background-color: var(--basic-white-opacity);
  border: 3px solid #DBDBDB;
  box-sizing: border-box;
  color: var(--basic-black);
}

.button-pagination {
  color: var(--basic-black);
  background-color: var(--basic-pale-grey);
  border-radius: 3px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.button-pagination:hover {
  background-color: var(--special-12);
}

.button-pagination:active {
  background-color: var(--special-13);
  color: var(--basic-low-opacity);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
