:root {
  --basic-black: #000000;
  --basic-grey-blue: #283136;
  --basic-white: #FFFFFF;
  --basic-grey: #666666;
  --basic-del-opacity: rgba(68, 68, 68, 0.5);
  --basic-pale-grey: #EEEEEE;
  --basic-dark-grey: #888888;
  --basic-light-grey: #D7DCDE;
  --basic-low-opacity: rgba(0, 0, 0, 0.3);
  --basic-red-opacity: rgba(255, 255, 255, 0.3);
  --basic-black-opacity: rgba(0, 0, 0, 0.6);
  --basic-white-opacity: rgba(0, 0, 0, 0.0001);
  --basic-grey-gradient: #E1E1E1;
  --basic-grey-range: #D7DCDF;
  --basic-toggle: #ABABAB;
  --basic-checked: rgba(77, 77, 77, 0.4);
  --basic-checked-hover: rgba(77, 77, 77, 1);
  --basic-del: rgba(68, 68, 68, 1);
  --basic-radio: #4D4D4D;
  --basic-triangle-opacity: rgba(166, 166, 166, 0.2);
  --basic-triangle: #A6A6A6;
  --basic-triangle-active: #231F20;
  --basic-logo-hover: rgba(0, 0, 0, 0.7);

  --special-1: #FB565A;
  --special-2: #E74246;
  --special-3: #00CA74;
  --special-4: #EFC849;
  --special-5: #D7373B;
  --special-6: #00BC6C;
  --special-7: #00AA62;
  --special-8: #EAB534;
  --special-9: #E5A722;
  --special-10: #A6A6A6;
  --special-11: #B4B9BB;
  --special-12: #DFDFDF;
  --special-13: #D5D5D5;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-black);
    text-transform: none;
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
  }

  a {
    text-decoration: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .page {
    height: 100%;
  }

  .main-header {
    background-color: var(--basic-pale-grey);
    padding-top: 40px;
  }

  .main-navigation {
    display: flex;
    align-items: center;
    color: var(--basic-black);
    background-color: var(--basic-pale-grey);
    position: relative;
  }

  .main-wrapper {
    display: flex;
    justify-content: space-between;
    width: 437px;
    margin: 0;
    padding: 0;
    margin-left: 202px;
    margin-right: 246px;
  }

  .main-wrapper,
  .basket {
    align-items: center;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    list-style: none;
    text-align: center;
  }

  .main-header-logo {
    background-color: var(--basic-pale-grey);
    text-align: left;
  }

  .main-header-logo:hover path {
   fill: var(--basic-logo-hover);
  }

  .main-header-logo:active path {
    fill: var(--basic-low-opacity);
   }

  .main-navigation a,
  .basket a {
    color: var(--basic-black);
  }

  .main-wrapper a:hover,
  .basket a:hover,
  .main-wrapper a:focus,
  .basket a:focus {
    color: var(--special-1);
  }

  .main-wrapper a:active,
  .basket a:active {
    color: var(--basic-low-opacity);
  }

  .basket {
    padding-left: 50px;
  }

  .basket-icon::before {
    content: "";
    position: absolute;
    top: 28px;
    left: 1050px;
    width: 15px;
    height: 15px;
    margin: 0;
    padding: 0;
    background-image: url("../img/box-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .heading,
  .fill {
    background-color: var(--basic-pale-grey);
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .features {
    display: flex;
    width: 1157px;
    height: 431px;
    margin: 0;
    padding: 0;
  }

  .features-list {
    background-color: var(--basic-pale-grey);
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto auto auto;
  }

  .features-item {
    display: flex;
    flex-direction: column;
    width: 1157px;
    height: 431px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-position: right bottom;
    background-repeat: no-repeat;
    position: relative;
  }

  .slide-smartphones {
    background-image: url(../img/page5.png);
  }

  .slide-desktops {
    background-image: url(../img/page6.png);
  }

  .slide-gadgets {
    background-image: url(../img/page7.png);
  }

  .slide-hidden {
    display: none;
  }

  .features-subtitle {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    margin-bottom: 25px;
    box-sizing: border-box;
  }

  .features-text,
  .services-text,
  .about-text {
    color: var(--basic-grey-blue);
  }

  .features-text {
    margin-bottom: 38px;
    box-sizing: border-box;
  }

  .features-button {
    box-sizing: border-box;
    width: 240px;
    height: 50px;
    padding: 17px 54px 15px 54px;
  }

  .button {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    align-items: center;
    color: var(--basic-white);
    background-color: var(--special-1);
    border-radius: 3px;
    border-style: none;
  }

  .button:hover,
  .button:focus {
    background-color: var(--special-2);
  }

  .button:active {
    color: var(--basic-red-opacity);
    background-color: var(--special-5);
  }

  .slide-button-left {
    position: absolute;
    left: 720px;
    top: 430px;
    z-index: 2;
    padding: 0;
    width: 17px;
    height: 17px;
    background-color: var(--basic-white);
    border-radius: 50%;
    border: none;
  }

  .slide-button-active {
    position: absolute;
    left: 723.7px;
    top: 434.2px;
    z-index: 3;
    padding: 0;
    width: 8px;
    height: 8px;
    background-color: var(--basic-white);
    border-radius: 50%;
    border: 2px solid #C1C1C1;
  }

  .slide-button-center {
    position: absolute;
    left: 754px;
    top: 430px;
    z-index: 2;
    padding: 0;
    width: 17px;
    height: 17px;
    background-color: var(--basic-white);
    border-radius: 50%;
    border: none;
  }

  .slide-button-right {
    position: absolute;
    left: 788px;
    top: 430px;
    z-index: 2;
    padding: 0;
    width: 17px;
    height: 17px;
    background-color: var(--basic-white);
    border-radius: 50%;
    border: none;
  }

  .container {
    width: 1160px;
    margin: 0 auto;
    padding: 0;
  }

  .services {
   padding-top: 80px;
   padding-bottom: 280px;
  }

  .services-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    column-gap: 140px;
    margin: 0;
  }

  .services-item {
    background-repeat: no-repeat;
    background-position: center top;
    width: 300px;
    height: 146px;
  }

  .services-desktop {
    background-image: url(../img/page1.jpg);
  }

  .services-smartphones {
    background-image: url(../img/page2.jpg);
  }

  .services-poster {
    background-image: url(../img/page3.jpg);
  }

  .services-subject {
    margin-top: 180px;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
  }

  .services-text {
    margin-bottom: 32px;
    width: 260px;
  }

  .services-button {
    padding: 17px 40px 15px 39px;
    margin-bottom: 80px;
  }

  .button-green {
    color: var(--basic-white);
    background-color: var(--special-3);
  }

  .button-green:hover,
  .button-green:focus {
    background-color: var(--special-6);
  }

  .button-green:active {
    background-color: var(--special-7);
    color: var(--basic-red-opacity);
  }

  .button-yellow {
    color: var(--basic-white);
    background-color: var(--special-4);
  }

  .button-yellow:hover,
  .button-yellow:focus {
    background-color: var(--special-8);
  }

  .button-yellow:active {
    background-color: var(--special-9);
    color:var(--basic-red-opacity);
  }

  .about {
    color: var(--basic-black);
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 149px;
    margin-bottom: 70px;
    border-top: 2px solid #EEEEEE;
  }

  .about-headline {
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    width: 651px;
    margin: 0;
    margin-top: 73px;
    margin-bottom: 32px;
  }

  .about-text {
    width: 646px;
    margin: 0;
    margin-bottom: 40px;
  }

  .about-caption {
    font-weight: 700;
    color: var(--basic-grey-blue);
    margin: 0;
    margin-bottom: 23px;
  }

  .about-opportunities {
    list-style: none;
    margin: 0;
    position: relative;
  }

  .about-item {
    color: var(--basic-grey-blue);
    margin-top: 30px;
  }

  .about-sites::after {
    position: absolute;
    top: 12px;
    left: 7px;
    content:"";
    background-image: url("../img/line-icon.svg");
    width: 25px;
    height: 2px;
  }

  .about-mobile::after {
    position: absolute;
    top: 67px;
    left: 7px;
    content:"";
    background-image: url("../img/line-icon.svg");
    width: 25px;
    height: 2px;
  }

  .about-video::after {
    position: absolute;
    top: 119px;
    left: 7px;
    content:"";
    background-image: url("../img/line-icon.svg");
    width: 25px;
    height: 2px;
  }

  .about-image {
    margin-top: 39px;
  }

  .about-slogan {
    font-weight: 700;
    text-align: center;
    margin-top: 37px;
  }

  .about-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 350px;
    margin-top: 18px;
  }

  .about-list {
    display: flex;
    flex-direction: column;
  }

  .about-items dt {
    width: 100px;
  }

  .about-items dd {
    width: 110px;
  }

  .about-term {
    font-weight: 700;
    font-size: 45px;
    line-height: 64px;
    margin: 0;
    padding: 0;
  }

  .about-interest {
    font-weight: 700;
    font-size: 26px;
    line-height: 40px;
    margin: 0;
    padding: 0;
  }

  .about-definition {
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-grey-blue);
    margin: 0;
    padding: 0;
  }

  .companies {
    height: 181px;
    border-top: 2px solid #EEEEEE;
    border-bottom: 2px solid #EEEEEE;
    margin-bottom: 82px;
  }

  .companies-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .companies-item {
    list-style: none;
    opacity: 0.2;
    padding-top: 46px;
  }

  .companies-item:hover {
    opacity: 1;
  }

  .companies-item:active {
    opacity: 0.1;
  }

  .companies-html {
    margin-left: 32px;
    margin-right: 95px;
  }

  .companies-borodinski {
    margin-right: 104px;
  }

  .companies-pink {
    margin-right: 120px;
  }

  .companies-mishka {
    margin-right: 43px;
  }

  .map {
    position: relative;
    padding: 0;
    z-index: 2;
  }

  .contacts {
    position: absolute;
    top: 54px;
    left: 140px;
    display: grid;
    grid-template-rows: repeat(4, min-content);
    box-sizing: border-box;
    padding: 49px 50px 47px;
    width: 319px;
    height: 308px;
    background-color: white;
    z-index: 3;
    align-items: center;
  }

  .contacts-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    align-items: center;
    margin: 49px 76px 22.71px 50px;
    align-items: center;
  }

  .contacts-address,
  .contacts-phone {
    color: var(--basic-grey);
    margin: 0;
    margin-right: 39px;
    margin-left: 50px;
  }

  .contacts-phone {
    padding-top: 15px;
  }

  .contacts-button {
    margin: 37.29px 50px 47px;
    padding: 17px 44px 15px;
    width: 219px;
  }

  .modal {
    position: fixed;
    padding: 10px 90px 10px 100px;
    width: 960px;
    height: 590px;
  }

  .modal-header {
    display: flex;
    justify-content: space-between;
    width: 780px;
  }

  .modal-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
  }

  .modal-close {
    border: none;
    background-image: none;
  }

  .modal-form {
   display: flex;
   flex-wrap: wrap;
   margin: 0;
   padding: 0;
  }

  /*.modal-title::before {
    content: "";
    position: absolute;
    top: 11px;
    left: 770px;
    width: 21px;
    height: 21px;
    margin: 0;
    padding: 0;
    background-image: url("../img/cross.svg");

  }

  .modal-title:hover::before {
    background-image: url("../img/cross-red.svg");


  .modal-title:active::before {
    background-image: url("../img/cross-active.svg");

  }*/

  .modal-label {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
  }

  .modal-field {
    display: block;
    margin: 0;
    padding: 0;
    margin-top: 9px;
    width: 350px;
    height: 50px;
    color: var(--basic-del-opacity);
    font-size: 16px;
    line-height: 18px;
    border: 2px solid var(--basic-light-grey);
    border-radius: 3px;
    padding-left: 16px;
  }

  .modal-field:hover {
    border: 2px solid var(--special-11);
  }
  .modal-field:focus::placeholder {
    color: var(--basic-del);
  }

  .modal-field:focus {
    border: 2px solid var(--basic-black);
  }

  .modal-name {
    margin-right: 40px;
    margin-bottom: 34px;
  }

  .modal-text {
    width: 760px;
    height: 118px;
    text-align: start;
  }

  .modal-button {
    padding: 17px 83px 15px;
    margin-top: 47px;
  }

  .footer-social {
    display: flex;
    justify-content: start;
    padding-bottom: 76px;
  }

  .footer-social-list {
    display: flex;
    justify-content: space-between;
    width: 260px;
    height: 79px;
  }

  .social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 81px;
    height: 81px;
    background-color: var(--basic-grey-gradient);
    border-radius: 50%;
    border: none;
  }

  .social-button:hover {
    background-color: var(--special-2);
  }

  .social-button:active {
    background-color: var(--special-5);
  }

  .social-button:active path {
    fill: var(--basic-red-opacity);
  }

  .footer-text {
    display: flex;
    flex-direction: column;
    margin-left: 139px;
  }

  .footer-slogan {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    padding-top: 20px;
  }

  .footer-discount {
    font-size: 16px;
    line-height: 22px;
    color:var(--basic-del);
    margin: 0;
    margin-top: 10px;
  }

  /*Вторая страница*/

  .filter-title {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    align-items: center;
    width: 100%;
    background-color: var(--basic-pale-grey);
    padding: 0;
    padding-top: 75px;
    padding-bottom: 108px;
    margin: 0;
    text-align: center;
  }

  .filter-shop {
    display: grid;
    grid-template-columns: 260px 1fr 1fr;
    grid-template-rows: 70px 1fr 1fr 1fr;
    height: 1900px;
  }

  .filter-section {
    grid-row: 1 / 5;
    grid-column: 1 / 2;
  }

  .filter-subject {
    padding-top: 55px;
  }

  .range-controls {
    width: 260px;
    height: 41px;
    border-radius: 3px;
    background-color: var(--basic-pale-grey);
    padding-top: 39px;
    margin-top: 48px;
    position: relative;
  }

  .range-controls .scale {
    position: absolute;
    height: 2px;
    width: 205px;
    left: 33px;
    background: var(--basic-grey-range);
  }

  .range-controls .bar {
    position: absolute;
    height: 2px;
    width: 138px;
    left: 18px;
    background: var(--special-3);
  }

  .range-controls .toggle {
    position: absolute;
    height: 4px;
    width: 4px;
    left: 0;
    top: 27px;
    background: var(--basic-toggle);
    border: 10px solid #FFFFFF;
    border-radius: 50%;
    padding: 0;
  }

  .range-controls .toggle-min {
    left: 26px;
  }

  .range-controls .toggle-max {
    left: 168px;
  }

  .price-controls {
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
  }

  .price-controls label {
    text-transform: uppercase;
  }

  .price-controls input {
    font-family: inherit;
    font-size: inherit;
    line-height: 22px;
    border: none;
    width: 60px;
    padding: 10px;
    margin-left: 10px;
    text-align: center;
    color: var(--basic-grey-blue);
    border-radius: 5px;
    background: var(--basic-pale-grey);
  }

  .filter-cost-grid,
  .filter-grid-fieldset,
  .filter-variants-fieldset {
    border: 0 none;
  }

  .filter-subject,
  .sorting-title,
  .filter-grid-legend,
  .filter-variants-legend {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    align-items: center;
    text-transform: uppercase;
  }

  .filter-adaptiv,
  .filter-fix,
  .filter-gum,
  .variants-slayder,
  .variants-advantage,
  .variants-news,
  .variants-gallery,
  .variants-basket {
    font-size: 16px;
    line-height: 19px;
    color: var(--basic-grey-blue);
  }

  .filter-section li {
    margin-top: 20px;
  }

  .filter-grid-list,
  .filter-variants-list,
  .sorting-list,
  .pagination-list,
  .footer-social-list,
  .catalog-list {
    list-style: none;
  }

  .filter-grid-fieldset {
    margin-top: 54px;
    position: relative;
    display: block;
    user-select: none;
  }

  .filter-input-radio-on + label::before {
    content:"";
    position: absolute;
    left: 15px;
    width: 25px;
    height: 25px;
    background-image: url(../img/radio-on.svg);
    opacity: 0.4;
  }

  .filter-input-radio-on + label:hover::before {
    opacity: 1;
  }

  .filter-input-radio-off + label::before {
    content:"";
    position: absolute;
    left: 15px;
    width: 25px;
    height: 25px;
    background-image: url(../img/radio-off.svg);
    opacity: 0.4;
  }

  .filter-input-radio-off + label:hover::before {
    opacity: 1;
  }

  .filter-variants-fieldset {
    margin-top: 25px;
    position: relative;
    display: block;
    user-select: none;
  }

  .filter-input-checkbox-on + label::before {
    content:"";
    position: absolute;
    left: 14px;
    width: 25px;
    height: 23px;
    background-image: url(../img/checkbox-on.svg);
    opacity: 0.4;
  }

  .filter-input-checkbox-on + label:hover::before {
    opacity: 1;
  }

   .filter-input-checkbox-off + label::before {
    content:"";
    position: absolute;
    left: 14px;
    width: 23px;
    height: 23px;
    background-image: url(../img/checkbox-off.svg);
    opacity: 0.4;
  }

  .filter-input-checkbox-off + label:hover::before {
    opacity: 1;
  }

  .button-filter {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    background-color: var(--basic-pale-grey);
    width: 260px;
    height: 50px;
    padding: 17px 89px 15px 88px;
    border: none;
    border-radius: 3px;
    margin-top: 28px;
    margin-left: 14px;
  }

  .button-filter:hover {
    background-color: var(--special-12);
    outline: none;
  }

  .button-filter:active {
    background-color: var(--special-13);
    color: var(--basic-low-opacity);
    outline: none;
  }

  .sorting {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    height: 75px;
    width: 760px;
    margin-top: 42px;
    margin-left: 140px;
    display: flex;
    align-items: center;
  }

  .sorting-title {
    margin-right: 230px;
  }

  .sorting-list {
    display: flex;
    justify-content: space-between;
    width: 272px;
  }

  .sorting-item a {
    font-size: 14px;
    line-height: 18px;
    align-items: center;
    text-transform: uppercase;
    color: var(--basic-low-opacity);
   }

  .sorting-item a:hover {
    color: var(--basic-black-opacity);
  }

  .sorting-item a:active {
    color: var(--basic-black);
  }

  .sorting-active a {
    color: var(--basic-black);
  }

  .sorting-rewind {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-left: 46px;
    position: relative;
  }

  .sorting-triangle {
    display: flex;
    justify-content: space-between;
    width: 11px;
    height: 10px;
  }

  .second-triangle {
    position: absolute;
    left: 30px;
    transform: rotate(180deg);
  }

  .sorting-triangle path {
    fill: var(--basic-triangle-opacity);
  }

  .sorting-triangle:hover path {
   fill: var(--basic-triangle);
  }

  .sorting-triangle:active path {
   fill: var(--basic-triangle-active);
  }


  .sorting-triangle-active path {
    fill: var(--basic-triangle-active);
   }

  .catalog {
    grid-column: 2 / 4;
    grid-row: 2 / 5;
    margin-left: 140px;
    margin-top: 50px;
  }

  .catalog-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 40px;
    text-align: center;
    align-items: center;
    padding: 0;
  }

  .catalog-example {
    display: grid;
    grid-auto-rows: repeat(3, min-content);
    width: 360px;
    height: 231px;
    background: var(--basic-pale-grey);
  }

  .catalog-header-on {
    background-image: url(../img/header-on.svg);
    width: 360px;
    height: 40px;
  }

  .catalog-header-off {
    background-image: url(../img/header-off.svg);
    width: 360px;
    height: 40px;
  }

  .catalog-subtitle a {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    margin: 0;
    margin-top: 26px;
  }

  .catalog-subtitle a:hover {
    color: var(--special-1);
  }

  .catalog-subtitle a:active {
    color: var(--basic-low-opacity);
  }

  .catalog-description {
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-grey);
    margin: 0;
    margin-top: 12px;
  }

  .catalog-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-white);
    background-color: var(--special-1);
    border-radius: 3px;
    border-style: none;
    align-items: center;
    text-align: center;
    margin: 32px 80px 44px;
    padding: 17px 72px 15px;
  }

  .catalog-button:hover,
  .catalog-button:focus {
    background-color: var(--special-2);
  }

  .catalog-button:active {
    background-color: var(--special-5);
  }

  .pagination {
    margin-top: 900px; /*Это временно,тк у шаблонов скроется описание*/
    display: grid;
    grid-template-columns: min-content min-content;
  }

  .pagination-list {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    grid-gap: 11px;
    margin-left: 400px;
    margin-bottom: 60px;
  }

  .pagination-item a {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    padding: 17px 20px 15px;
    width: 50px;
    height: 50px;
    background-color: var(--basic-pale-grey);
    border-radius: 3px;
  }

  .pagination-item a:hover {
    background-color: var(--special-12);
  }

  .pagination-item a:active {
    background-color: var(--special-13);
    color: var(--basic-low-opacity);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  }

  .pagination-active a {
    background-color: var(--basic-white-opacity);
    outline: 3px solid #DBDBDB;
    outline-offset: -3px;
    box-sizing: border-box;
    color: var(--basic-black);
    border-radius: 3px;
  }

  .button-pagination {
    color: var(--basic-black);
    background-color: var(--basic-pale-grey);
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    margin-left: 11px;
    width: 260px;
    height: 50px;
    padding: 17px 77px 15px 78px;
    border: none;
    border-radius: 3px;
  }

  .button-pagination:hover {
    background-color: var(--special-12);
  }

  .button-pagination:active {
    background-color: var(--special-13);
    color: var(--basic-low-opacity);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  }

  .controls {
    height: 39px;
    background-color: var(--basic-grey);
    padding-top: 39px;
  }

  .scale {
    height: 2px;
    color: var(--special-6)
  }
