:root {
  --basic-black: #000000;
  --basic-grey-blue: #283136;
  --basic-white: #FFFFFF;
  --basic-grey: #666666;
  --basic-del: #444444;
  --basic-pale-grey: #EEEEEE;
  --basic-dark-grey: #888888;
  --basic-light-grey: #D7DCDE;
  --basic-low-opacity: rgba(0, 0, 0, 0.3);
  --basic-red-opacity: rgba(255, 255, 255, 0.3);
  --basic-black-opacity: rgba(0, 0, 0, 0.6);
  --basic-white-opacity: rgba(0, 0, 0, 0.0001);
  --basic-grey-gradient: #E1E1E1;

  --special-1: #FB565A;
  --special-2: #E74246;
  --special-3: #00CA74;
  --special-4: #EFC849;
  --special-5: #D7373B;
  --special-6: #00BC6C;
  --special-7: #00AA62;
  --special-8: #EAB534;
  --special-9: #E5A722;
  --special-10: #A6A6A6;
  --special-11: #B4B9BB;
  --special-12: #DFDFDF;
  --special-13: #D5D5D5;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-black);
    text-transform: none;
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
  }

  a {
    text-decoration: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .page {
    height: 100%;
  }

  .main-header {
    background-color: var(--basic-pale-grey);
    padding-top: 40px;
  }

  .main-navigation {
    display: flex;
    align-items: center;
    color: var(--basic-black);
    background-color: var(--basic-pale-grey);
    position: relative;
  }

  .main-wrapper {
    display: flex;
    justify-content: space-between;
    width: 437px;
    margin-left: 202.13px;
    margin-right: 285.84px;
  }

  .main-wrapper,
  .basket {
    align-items: center;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    list-style: none;
    text-align: center;
  }

  .main-header-logo {
    background-color: var(--basic-pale-grey);
    text-align: left;
  }

  .main-navigation a,
  .basket a {
    color: var(--basic-black);
  }

  .main-wrapper a:hover,
  .basket a:hover,
  .main-wrapper a:focus,
  .basket a:focus {
    color: var(--special-1);
  }

  .main-wrapper a:active,
  .basket a:active {
    color: var(--basic-low-opacity);
  }

  .basket {
    padding-left: 50px;
  }

  .basket-icon::before {
    content: "";
    position: absolute;
    top: 23px;
    left: 1050px;
    width: 15px;
    height: 15px;
    margin: 0;
    padding: 0;
    background-image: url("../img/box-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .heading,
  .fill {
    background-color: var(--basic-pale-grey);
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .features {
    display: flex;
    width: 1157px;
    height: 431px;
    margin: 0;
    padding: 0;
  }

  .features-list {
    background-color: var(--basic-pale-grey);
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto auto min-content;
  }

  .features-item {
    width: 400px;
    height: 400px;
    padding: 0;
    margin: 0;
  }

  .features-subtitle {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    margin-bottom: 25px;
  }

  .features-text,
  .services-text,
  .about-text {
    color: var(--basic-grey-blue);
  }

  .features-text {
    margin-bottom: 38px;
  }

  .features-button {
    padding: 17px 54px 15px 54px;
  }

  .button {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    align-items: center;
    color: var(--basic-white);
    background-color: var(--special-1);
    border-radius: 3px;
    border-style: none;
  }

  .button:hover,
  .button:focus {
    background-color: var(--special-2);
  }

  .button:active {
    color: var(--basic-red-opacity);
    background-color: var(--special-5);
  }

  .features-slider {
    position: relative;
  }

  .features-slider img {
    width: 760px;
    height: 431px;
  }

  .slide-button-left {
    position: absolute;
    left: 139px;
    top: 317px;
    z-index: 2;
    padding: 0;
    width: 17px;
    height: 17px;
    background-color: var(--basic-white);
    border-radius: 50%;
    border: none;
  }

  .slide-button-active {
    position: absolute;
    left: 143.7px;
    top: 321.7px;
    z-index: 3;
    padding: 0;
    width: 8px;
    height: 8px;
    background-color: var(--basic-white);
    border-radius: 50%;
    border: 2px solid #C1C1C1;
  }

  .slide-button-center {
    position: absolute;
    left: 173px;
    top: 317px;
    z-index: 2;
    padding: 0;
    width: 17px;
    height: 17px;
    background-color: var(--basic-white);
    border-radius: 50%;
    border: none;
  }

  .slide-button-right {
    position: absolute;
    left: 207px;
    top: 317px;
    z-index: 2;
    padding: 0;
    width: 17px;
    height: 17px;
    background-color: var(--basic-white);
    border-radius: 50%;
    border: none;
  }

  .slide {
    display: none;
  }

  .container {
    width: 1160px;
    margin: 0 auto;
    padding: 0;
  }

  .services {
   margin-bottom: 80px;
  }

  .services-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    column-gap: 140px;
    margin: 0;
  }

  .services-slide {
    margin-top: 77px;
  }

  .services-subject {
    margin-top: 25px;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
  }

  .services-text {
    margin-bottom: 32px;
    width: 260px;
  }

  .services-button {
    padding: 17px 40px 15px 39px;
    margin-bottom: 80px;
  }

  .button-green {
    color: var(--basic-white);
    background-color: var(--special-3);
  }

  .button-green:hover,
  .button-green:focus {
    background-color: var(--special-6);
  }

  .button-green:active {
    background-color: var(--special-7);
    color: var(--basic-red-opacity);
  }

  .button-yellow {
    color: var(--basic-white);
    background-color: var(--special-4);
  }

  .button-yellow:hover,
  .button-yellow:focus {
    background-color: var(--special-8);
  }

  .button-yellow:active {
    background-color: var(--special-9);
    color:var(--basic-red-opacity);
  }

  .about {
    color: var(--basic-black);
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 149px;
    margin-bottom: 70px;
    border-top: 2px solid #EEEEEE;
  }

  .about-headline {
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    width: 651px;
    margin: 0;
    margin-top: 73px;
    margin-bottom: 32px;
  }

  .about-text {
    width: 646px;
    margin: 0;
    margin-bottom: 40px;
  }

  .about-caption {
    font-weight: 700;
    color: var(--basic-grey-blue);
    margin: 0;
    margin-bottom: 23px;
  }

  .about-list {
    margin: 0;
    list-style: url("../img/line-icon.svg");
  }

  .about-item {
    color: var(--basic-grey-blue);
    margin-top: 30px;
  }

  .about-image {
    margin-top: 39px;
  }

  .about-slogan {
    font-weight: 700;
    text-align: center;
    margin-top: 37px;
  }

  .about-items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
    height: 100px;
    margin-top: 18px;
  }

  .about-items dt {
    width: 100px;
    height: 50px;
  }

  .about-items dd {
    width: 110px;
    height: 40px;
  }

  .about-term {
    font-weight: 700;
    font-size: 45px;
    line-height: 64px;
    margin: 0;
    padding: 0;
  }

  .about-interest {
    font-weight: 700;
    font-size: 26px;
    line-height: 40px;
    margin: 0;
    padding: 0;
  }

  .about-definition {
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-grey-blue);
    margin: 0;
    padding: 0;
  }

  .companies {
    height: 181px;
    border-top: 2px solid #EEEEEE;
    border-bottom: 2px solid #EEEEEE;
  }

  .companies-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 40px;
  }

  .companies-item {
    list-style: none;
    opacity: 0.2;
  }

  .companies-item:hover {
    opacity: 1;
  }

  .companies-item:active {
    opacity: 0.1;
  }

  .companies-html {
    margin-left: 32px;
    margin-right: 95px;
  }

  .companies-borodinski {
    margin-right: 104px;
  }

  .companies-pink {
    margin-right: 120px;
  }

  .companies-mishka {
    margin-right: 43px;
  }

  .map {
    margin-top: 82px;
    padding: 0;
    width: 100%;
  }

  .contacts {
    display: grid;
    grid-template-rows: repeat(4, min-content);
    padding: 10px;
  }

  .contacts-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    align-items: center;
    margin: 49px 76px 22.71px 50px;
  }

  .contacts-address,
  .contacts-phone {
    color: var(--basic-grey);
    margin-right: 39px;
    margin-left: 50px;
  }

  .contacts-button {
    margin: 37.29px 50px 47px;
    padding: 17px 44px 15px;
    width: 219px;
  }

  .modal {
    padding: 63px 90px 84px 100px;
    width: 960px;
    height: 590px;
  }

  .modal-form {
   display: flex;
   flex-wrap: wrap;
   margin: 0;
   padding: 0;
  }

  .modal-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
  }

  .modal-label {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
  }

  .modal-field {
    display: block;
    margin: 0;
    padding: 0;
    margin-top: 9px;
    width: 360px;
    height: 50px;
    color: var(--basic-del);
    font-size: 16px;
    line-height: 18px;
    border: 2px solid var(--basic-light-grey);
    border-radius: 3px;
    padding-left: 16px;
  }

  .modal-field:hover {
    border: 2px solid var(--special-11);
  }

  .modal-field:focus {
    border: 2px solid var(--basic-black);
  }

  .modal-name {
    margin-right: 40px;
    margin-bottom: 34px;
  }

  .modal-text {
    width: 760px;
    height: 118px;
    text-align: start;
  }

  .modal-button {
    padding: 17px 83px 15px;
    margin-top: 47px;
  }

  .main-footer {
    height: 217px;
  }

  .footer-social-list {
    display: flex;
    justify-content: start;
    margin: 0;
    padding: 0;
    position: relative;
  }

  .social-button-vk {
    position: absolute;
    z-index: 2;
    padding: 0;
    top: 68px;
    width: 81px;
    height: 81px;
    background-color: var(--basic-grey-gradient);
    border-radius: 50%;
    border: none;
  }

  .social-button-vk img {
    position: absolute;
    z-index: 3;
    top: 33px;
    left: 27px;
    width: 26px;
    height: 15px;
  }

  .social-button-fb {
    position: absolute;
    z-index: 2;
    padding: 0;
    top: 68px;
    left: 91px;
    width: 81px;
    height: 81px;
    background-color: var(--basic-grey-gradient);
    border-radius: 50%;
    border: none;
  }

  .social-button-fb img {
    position: absolute;
    z-index: 3;
    top: 33px;
    left: 27px;
    width: 26px;
    height: 15px;
  }

  .social-button-inst {
    position: absolute;
    z-index: 2;
    padding: 0;
    top: 68px;
    left: 182px;
    width: 81px;
    height: 81px;
    background-color: var(--basic-grey-gradient);
    border-radius: 50%;
    border: none;
  }

  .social-button-inst img {
    position: absolute;
    z-index: 3;
    top: 33px;
    left: 27px;
    width: 26px;
    height: 15px;
  }

  .footer-text {
    display: flex;
    flex-direction: column;
    margin-left: 400px;
  }

  .footer-slogan {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    margin-top: 75px;
  }

  .footer-discount {
    font-size: 16px;
    line-height: 22px;
    color:var(--basic-del);
    margin: 0;
    margin-top: 10px;
    margin-bottom: 74px;
  }

  .filter-title {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    align-items: center;
    width: 100%;
    background-color: var(--basic-pale-grey);
    padding: 85px 10px 115px;
    margin: 0 auto;
    text-align: center;
  }

  .catalog-subject {
    margin-bottom: 235px;
  }

  .shop {
    display: grid;
    grid-template-columns: 260px 1fr 1fr;
    grid-template-rows: 70px 1fr 1fr 1fr;
    height: 1900px;
  }

  .filter {
    grid-row: 1 / 5;
    grid-column: 1 / 2;
  }

  .sorting {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    height: 75px;
    width: 760px;
    margin-left: 140px;
    display: flex;
  }

  .sorting-title {
    margin-right: 80px;
  }

  .sorting-list {
    display: flex;
  }

  .catalog {
    grid-column: 2 / 4;
    grid-row: 2 / 5;
    margin-left: 140px;
  }

  .catalog-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 40px;
    text-align: center;
    align-items: center;
    padding: 0;
  }

  .filter-cost-grid,
  .filter-grid-fieldset,
  .filter-variants-fildset {
    border: 0 none;
  }

  .catalog-subject,
  .sorting-title,
  .filter-grid-legend,
  .filter-variants-legend {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    align-items: center;
    text-transform: uppercase;
  }

  .filter-adaptiv,
  .filter-fix,
  .filter-gum,
  .variants-slayder,
  .variants-advantage,
  .variants-news,
  .variants-gallery,
  .variants-basket {
    font-size: 16px;
    line-height: 19px;
    color: var(--basic-grey-blue);
  }

  .filter li {
    margin-top: 20px;
  }

  .filter-grid-list,
  .filter-variants-list,
  .sorting-list,
  .pagination-list,
  .footer-social-list,
  .catalog-list {
    list-style: none;
  }

  .filter-variants-fildset {
    margin-top: 25px;
  }

  .button-filter {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    background-color: var(--basic-pale-grey);
    width: 260px;
    height: 50px;
    padding: 17px 89px 15px 88px;
    border: none;
    border-radius: 3px;
  }

  .button-filter:hover {
    background-color: var(--special-12);
  }

  .button-filter:active {
    background-color: var(--special-13);
  }

  .sorting-item a {
    font-size: 14px;
    line-height: 18px;
    align-items: center;
    text-transform: uppercase;
    color: var(--basic-low-opacity);
    margin-left: 20px;
  }

  .sorting-item a:hover {
    color: var(--basic-black-opacity);
  }

  .sorting-item a:active {
    color: var(--basic-black);
  }

  .sorting-active a {
    color: var(--basic-black);
  }

  .catalog-example {
    display: grid;
    grid-auto-rows: repeat(3, min-content);
    width: 360px;
    height: 231px;
    background: var(--basic-pale-grey);
  }

  .catalog-subtitle a {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    margin: 0;
    margin-top: 26px;
  }

  .catalog-subtitle a:hover {
    color: var(--special-1);
  }

  .catalog-subtitle a:active {
    color: var(--basic-low-opacity);
  }

  .catalog-description {
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-grey);
    margin: 0;
    margin-top: 12px;
  }

  .catalog-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-white);
    background-color: var(--special-1);
    border-radius: 3px;
    border-style: none;
    align-items: center;
    text-align: center;
    margin: 32px 80px 44px;
    padding: 17px 72px 15px;
  }

  .catalog-button:hover,
  .catalog-button:focus {
    background-color: var(--special-2);
  }

  .catalog-button:active {
    background-color: var(--special-5);
  }

  .pagination {
    margin-top: 800px; /*Это временно,тк у шаблонов скроется описание*/
    display: grid;
    grid-template-columns: min-content min-content;
  }

  .pagination-list {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    grid-gap: 11px;
    margin-left: 400px;
    margin-bottom: 60px;
  }

  .pagination-item a {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    padding: 17px 20px 15px;
    width: 50px;
    height: 50px;
    background-color: var(--basic-pale-grey);
    border-radius: 3px;
  }

  .pagination-item a:hover {
    background-color: var(--special-12);
  }

  .pagination-item a:active {
    background-color: var(--special-13);
    color: var(--basic-low-opacity);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  }

  .pagination-active a {
    background-color: var(--basic-white-opacity);
    outline: 3px solid #DBDBDB;
    outline-offset: -3px;
    box-sizing: border-box;
    color: var(--basic-black);
    border-radius: 3px;
  }

  .button-pagination {
    color: var(--basic-black);
    background-color: var(--basic-pale-grey);
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    margin-left: 11px;
    width: 260px;
    height: 50px;
    padding: 17px 77px 15px 78px;
    border: none;
    border-radius: 3px;
  }

  .button-pagination:hover {
    background-color: var(--special-12);
  }

  .button-pagination:active {
    background-color: var(--special-13);
    color: var(--basic-low-opacity);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  }

  .controls {
    height: 39px;
    background-color: var(--basic-grey);
    padding-top: 39px;
  }

  .scale {
    height: 2px;
    color: var(--special-6)
  }
